a,body,code,div,em,font,form,h1,h2,h3,h4,h5,h6,html,img,li,ol,p,s,small,span,strong,table,ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}
img {
    max-width: 100%
}
html {
    box-sizing: border-box
}
*,::after,::before {
    box-sizing: inherit
}
body,html {
    background-color: #fff;
    min-height: 100%
}
a {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    white-space: normal
}
ol,ul {
    margin: 0 0 1.5rem;
    padding: 0
}

ol,ol li,ul,ul li {
    list-style: none;
    margin: 0;
    padding: 0
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.35;
    margin: 0 0 1.5rem
}

h1 {
    font-size: 2.25em
}
h3 {
    font-size: 1.75em
}
h4 {
    font-size: 1.5em
}

h6 {
    font-size: 1em
}

p {
    line-height: 1.5;
    margin: 0 0 1.5rem
}

em {
    font-style: italic
}

b,strong {
    font-weight: 700
}
.avatar,[class*=avatar--],[class^=avatar--] {
    position: relative
}
.avatar__image {
    background-color: #fff;
    display: block;
    font-size: 0;
    margin: auto;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: middle
}

.avatar--small .avatar__image {
    border-radius: 37.5px;
    height: 75px;
    line-height: 75px;
    width: 75px
}

.avatar--tiny .avatar__image {
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    width: 32px
}

.book-cover {
    position: relative
}

.book-cover img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    display: block;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: auto
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    overflow: visible;
    text-align: center;
    direction: ltr
}
.btn--solid,[class*=' btn--solid--'],[class^=btn--solid--] {
    -webkit-transition: background-color .25s cubic-bezier(.75,.033,.355,1);
    -moz-transition: background-color .25s cubic-bezier(.75,.033,.355,1);
    transition: background-color .25s cubic-bezier(.75,.033,.355,1);
    color: #fff;
    background-color: #009aff;
    border-radius: .125em;
    border: 0;
    display: inline-block;
    font-weight: 700;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    padding-bottom: .5em;
    padding-left: .875em;
    padding-right: .875em;
    padding-top: .5em
}

.btn--solid:hover,[class*=' btn--solid--']:hover,[class^=btn--solid--]:hover {
    color: #f2f2f2
}

.btn--solid:hover,[class*=' btn--solid--']:hover,[class^=btn--solid--]:hover {
    background-color: #008be6
}

.btn--hollow,[class*=' btn--hollow--'],[class^=btn--hollow--] {
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    border-radius: .125em;
    background: 0 0;
    display: inline-block;
    border: 2px solid;
    border-color: rgba(0,0,0,.1);
    padding: .375em .75em;
    color: rgba(0,0,0,.8)
}

.footer {
    background-color: #222;
    color: #efefef;
    padding-top: 3rem
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #222;
    z-index: 6;
    color: #fff
}

.icon-link,[class*=' icon-link--'],[class^=icon-link--] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1;
    text-decoration: inherit;
    text-transform: none;
    font-size: inherit;
    font-style: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    white-space: normal
}

.icon-link:link,[class*=' icon-link--']:link,[class^=icon-link--]:link {
    text-decoration: none
}

.icon-link--twitter,.icon-link--twitter:link,.icon-link--twitter:visited {
    color: #4099ff
}

.icon-link--twitter:after {
    content: "\f099";
    display: inline-block;
    font-family: "font awesome 5 brands";
    font-weight: 900;
    text-decoration: none;
    font-size: inherit
}

.icon-link--github,.icon-link--github:link,.icon-link--github:visited {
    color: #171515
}

.icon-link--github:after {
    content: "\f09b";
    display: inline-block;
    font-family: "font awesome 5 brands";
    font-weight: 900;
    text-decoration: none;
    font-size: inherit
}

.lane,[class*=' lane--'],[class^=lane--] {
    display: block
}

.lane__header,[class*=' lane__header--'],[class^=lane__header--] {
    color: #8b8b8b;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 400
}

.lane__header--center {
    text-align: center
}

.lane__contents,[class*=' lane__contents--'],[class^=lane__contents--] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto
}

.lane__contents--center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center
}

.lane-item__author_blurb {
    color: #000;
    font-family: "noto serif",serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    margin: 1.5rem 0 0
}

.container--small {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.container--small::after {
    clear: both;
    content: "";
    display: table
}

.container--medium {
    max-width: 59.375rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.container--medium::after {
    clear: both;
    content: "";
    display: table
}

.container--large {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.container--large::after {
    clear: both;
    content: "";
    display: table
}
#react-root,.app,.react-main,body,html {
    height: 100%;
    min-height: 100%
}

.html,body {
    overflow: hidden
}

.scroll-wrapper {
    overflow-y: scroll;
    top: 50px!important;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    height: calc(100% - 50px);
    min-height: 100%;
    min-height: calc(100% - 50px);
    position: relative
}

.link,[class*=' link--'],[class^=link--] {
    text-decoration: underline
}

.link,.link:link,.link:visited,[class*=' link--'],[class*=' link--']:link,[class*=' link--']:visited,[class^=link--],[class^=link--]:link,[class^=link--]:visited {
    color: #000
}

.link--edit-book {
    background-color: #009aff;
    text-decoration: none;
    color: #fff;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: .375em .625em;
    position: absolute;
    right: 0;
    top: 0
}

.link--edit-book,.link--edit-book:link,.link--edit-book:visited {
    color: #fff
}

.stats__list {
    display: block;
    margin-bottom: 0
}

.stats__list>li {
    display: inline-block
}
.stats__list-item {
    text-transform: uppercase;
    text-align: center
}
.stats__list-item-metric {
    letter-spacing: -.25px;
    color: #8b8b8b;
    font-size: .875rem
}

.stats__list-item__title {
    color: #8b8b8b;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    font-size: .6875rem;
    margin-bottom: 0
}
.section__title {
    color: #8b8b8b;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    display: block;
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 2.25rem
}
#leanpub-toc,.toc {
    font-family: "noto serif",serif;
    color: #000;
    font-size: 1.125rem
}

#leanpub-toc ol,#leanpub-toc ul,.toc ol,.toc ul {
    list-style-type: none
}

#leanpub-toc ul,.toc ul {
    margin: .75em 0
}

#leanpub-toc li,.toc li {
    margin-bottom: 8px;
    padding-left: 0
}

#leanpub-toc li>ol>li,#leanpub-toc li>ul>li,.toc li>ol>li,.toc li>ul>li {
    padding-left: 1em
}
.toc.no-parts>li {
    font-size: emCalc(18)
}
#leanpub-toc ol .section,.toc.has-parts>li>ul>li>ul>li,.toc.no-parts>li>ul>li {
    font-size: 86.66667%
}
.ltr,[dir=ltr] {
    direction: ltr!important
}

::selection {
    background-color: #009aff;
    color: #fff;
    text-shadow: 0 0 0 transparent
}

.text-left {
    text-align: left
}
.react-flash-container {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 100
}
.modal-wrapper {
    height: 0
}

.avatar-with-name,[class*=' avatar-with-name--'],[class^=avatar-with-name--] {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center
}

.avatar-with-name--vertical {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column
}

.avatar-with-name--vertical .avatar-with-name__name {
    margin: .75rem 0 0
}

.avatar-with-name__name {
    color: #222;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 .75rem
}
.book-show section:nth-of-type(2n+2):not(.dark) {
    background-color: #efefef;
    color: #000
}
.book-show>section {
    background-color: #fff;
    color: #000
}
.about-authors,.about-book,.about-publisher {
    padding-top: 3rem;
    padding-bottom: 3rem
}
.lane-item--author {
    width: 100%;
    text-align: center
}

@media screen and (min-width: 56.25em) {
    .lane-item--author {
        padding-right:3rem;
        padding-left: 3rem
    }
}

.lane-item--author .profile-icons {
    font-size: 1.5em;
    margin-top: .5rem
}

.lane-item--author p {
    font-size: 18px
}

.lane-item--author .avatar-with-name__name {
    font-size: 1.75rem;
    margin-top: 0
}

.lane__contents--author>* {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 56.25em;
    margin-bottom: 3rem;
    padding: 0
}

@media screen and (min-width: 56.25em) {
    .lane__contents--author>* {
        -webkit-box-flex:0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 0 49%;
        -moz-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%
    }

    .lane__contents--author>:nth-child(2n+1) {
        margin-left: 0
    }

    .lane__contents--author>:not(:nth-child(2n+1)) {
        margin-left: 1%
    }
}

.lane__contents--author[data-item-count='1']>* {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 56.25em;
    margin-bottom: 3rem;
    padding: 0
}

.profile-icons>*+* {
    margin-left: .75rem
}
.truncate__text {
    overflow: hidden
}
.cartable-form {
    margin-top: .75rem
}

.cartable-form__actions {
    margin-top: 1.875em
}

.cartable-form__action,[class*=" cartable-form__action--"],[class^=cartable-form__action--] {
    margin-bottom: 1.5rem
}

@media screen and (min-width: 56.25em) {
    .cartable-form__action--with-hint {
        display:-webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center
    }
}

.cartable-form__action--with-hint .btn--solid {
    font-size: 20px
}

.pricing {
    display: block
}

.pricing>*+* {
    margin-left: 1.5rem
}

.price,[class*=' price--'],[class^=price--] {
    display: inline-block;
    text-align: center
}

.price__value {
    display: block;
    font-size: 1.375em;
    line-height: 1.25em;
    color: inherit
}

.price__title {
    color: #8b8b8b;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    font-size: .6875em;
    margin: .3125em 0 0
}

.about-book {
    background-color: #efefef;
    color: #000
}

.about-book__copy {
    color: #000;
    font-family: "noto serif",serif;
    font-weight: 400;
    font-size: 1.125rem
}

.about-book__copy ul {
    list-style-position: outside;
    margin-left: 1.88rem;
    margin-top: 1.05rem;
    margin-bottom: 1.5rem
}

.about-book__copy ul li+li {
    margin-top: .375rem
}

.about-book__copy ul,.about-book__copy ul li {
    list-style-type: disc
}

.free-updates {
    background: #606178;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    color: #fff
}
.book-hero__metadata {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    margin: auto;
    max-width: 80em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    width: 100%
}

.book-hero {
    background-color: #fff;
    color: #000;
    border-top: 1px solid #dedede
}

.book-hero .container--large {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.book-hero .container--large>* {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media screen and (min-width: 48em) {
    .book-hero .container--large>* {
        -webkit-box-flex:0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 0 32%;
        -moz-flex: 0 0 32%;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%
    }

    .book-hero .container--large>:nth-child(3n+1) {
        margin-left: 0
    }

    .book-hero .container--large>:not(:nth-child(3n+1)) {
        margin-left: 1%
    }
}

.book-hero__summary {
    padding: .75rem 1.5rem 0 0;
    padding-left: 0
}

.book-hero__title {
    color: #000;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 2.125rem
}

.book-hero__subtitle {
    color: rgba(0,0,0,.6);
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.438em;
    margin: .375rem 0 0
}

.book-hero__author {
    font-weight: 400;
    color: rgba(0,0,0,.8);
    margin: .5rem 0 0;
    font-family: noto sans,helvetica neue,Helvetica,Arial,sans-serif;
    margin: .75rem 0 .625rem
}

.book-hero__blurb {
    color: #000;
    font-weight: 400;
    margin: 1.5rem 0 0;
    font-family: "noto serif",serif;
    line-height: 1.813em;
    font-size: 1rem;
    margin: .625rem 0 1.875rem
}
.book-hero__actions {
    margin: 1.5rem 0 0
}

.book-hero__actions>div {
    margin: .5rem 0
}

.book-hero__actions .btn--hollow {
    font-size: .75rem;
    font-weight: 700;
    line-height: .875rem;
    padding: .375em .75em;
    text-transform: capitalize
}

.book-hero__actions i {
    vertical-align: middle;
    margin: 0 .5em
}

.book-hero__cover {
    text-align: center
}

.book-hero__cover img {
    border: 1px solid #8b8b8b
}
.book-hero__purchase {
    padding: .75rem 0 0 1.5rem;
    padding-right: 0
}

.book-hero__purchase .btn--solid {
    white-space: normal
}
